* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo{
    width: 300px;
    cursor: pointer;
    color: white;
    margin: -55px;
}
.opportunity{
    text-align: left;
    color: steelblue;
    margin-top: 35px;
    padding: 0 20px;
}

.together{
    color: orange;
    font-size: 20px;
    padding: 0 20px;
}

h1{
    font-size: 50px;
    line-height: 60px;
    color: black;
}

h2{
    font-size: 45px;
    line-height: 50px;
    color: black;
}


h4{
    font-size: 20px;
    color: black;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 15px;
    margin: 15px 0 20px 0;
}

.section-p1{
    margin: 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}


/* header */

#Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px 20px 80px;
    background: #C51605 ;
}

#navibar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navibar li{
    list-style: none;
    padding: 0 20px;
}

#navibar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

/*products page*/

#product .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product{
    text-align: center;
}

#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product .pro .des span{
    color: black;
    font-size: 12px;
}

#product .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
}

#product .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: red;
}

#product .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product .pro img{
    width: 100%;
    border-radius: 20px;

}

/* media query */



/*@media (min-width: 600px) {

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0px;
        height: 100vh;
        width: 300px;
        background-color: white;

    }

}
*/

